<div>
  <div class="view-page-title-container">
    <h1 class="view-page-title-text">Projects</h1>
    <button mat-mini-fab mat-icon-button color="primary" (click)="onCreate()">
      <mat-icon class="add-button-icon">add</mat-icon>
    </button>
  </div>
  <div *ngFor="let _project of projects">
    <app-item
      [title]="_project.name"
      [id]="_project.id"
      [onDelete]="onDelete"
      [onChange]="onChange"
    >
      <div class="item-details-container">
        <div>
          <strong>Description: </strong><span>{{ _project.description }}</span>
        </div>
        <div>
          <strong>Date of creating: </strong>
          <span>{{ _project.createdAt | localizedDate }}</span>
        </div>
        <div>
          <strong>Deadline: </strong>{{ _project.deadline | localizedDate }}
        </div>
        <div>
          <strong>Author: </strong>
          <span>{{ getAuthorName(_project.authorId) }}</span>
        </div>
        <div>
          <strong>Team: </strong>
          <span>{{ getTeamName(_project.teamId) }}</span>
        </div>
      </div>
    </app-item>
  </div>
</div>
