<div>
  <h1 class="change-page-title">
    {{ isEditing ? "Edit user" : "Create user" }}
  </h1>
  <mat-card class="change-card">
    <form
      (ngSubmit)="isEditing ? updateUser() : createUser()"
      [formGroup]="userForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.firstName"
          id="firstName"
          formControlName="firstName"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            userForm.get('firstName').touched &&
            userForm.get('firstName').errors?.required
          "
        >
          First name is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="userForm.get('firstName').errors?.minlength"
        >
          First name must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.lastName"
          id="lastName"
          formControlName="lastName"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            userForm.get('lastName').touched &&
            userForm.get('lastName').errors?.required
          "
        >
          Last name is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="userForm.get('lastName').errors?.minlength"
        >
          Last name must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Team</mat-label>
        <mat-select formControlName="team" [(ngModel)]="user.teamId">
          <mat-option *ngFor="let _team of teams" [value]="_team.id">
            {{ _team.name }}
          </mat-option>
        </mat-select>
        <mat-error
          class="custom-error"
          *ngIf="
            userForm.get('team').touched &&
            userForm.get('team').errors?.required
          "
        >
          Team is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.email"
          id="email"
          formControlName="email"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            userForm.get('email').touched &&
            userForm.get('email').errors?.required
          "
        >
          Email is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="userForm.get('email').errors?.minlength"
        >
          Email must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="user.birthday"
          id="birthday"
          formControlName="birthday"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-stroked-button color="warn">Cancel</button>
        <button mat-stroked-button type="submit" [disabled]="!userForm.valid">
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
