<div>
  <h1 class="change-page-title">
    {{ isEditing ? "Edit team" : "Create team" }}
  </h1>
  <mat-card class="change-card">
    <form
      (ngSubmit)="isEditing ? updateTeam() : createTeam()"
      [formGroup]="teamForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="team.name"
          id="name"
          formControlName="name"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            teamForm.get('name').touched &&
            teamForm.get('name').errors?.required
          "
        >
          Name is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="teamForm.get('name').errors?.minlength"
        >
          Name must be at least 4 characters long
        </mat-error>
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-stroked-button color="warn" (click)="handleCancel()">
          Cancel
        </button>
        <button mat-stroked-button type="submit" [disabled]="!teamForm.valid">
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
