/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view-page-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.view-page-title-text {
  margin: 0 !important;
  margin-right: 0.5rem !important;
  font-size: 3rem !important;
}

.add-icon-button {
  font-size: 3rem !important;
}

.item-details-container {
  line-height: 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.change-page-title {
  font-size: 2rem !important;
}

.change-card {
  width: 75%;
}

.change-card form {
  display: flex;
  flex-direction: column;
}

.error-snack-bar {
  background: #ff6464;
  text-align: center;
  color: black;
}

.success-snack-bar {
  background: #55ff7a;
  color: black;
  text-align: center;
}
span {
  width: 100%;
}
