<div>
  <div class="view-page-title-container">
    <h1 class="view-page-title-text">Teams</h1>
    <button
      mat-mini-fab
      class="add-button-icon"
      color="primary"
      (click)="onCreate()"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngFor="let _team of teams">
    <app-item
      [title]="_team.name"
      [id]="_team.id"
      [onDelete]="onDelete"
      [onChange]="onChange"
    >
      <div class="item-details-container">
        <div>
          <strong>Date of creating: </strong>
          <span>{{ _team.createdAt | localizedDate }}</span>
        </div>
      </div>
    </app-item>
  </div>
</div>
