.site-logo {
  width: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}

.site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.25rem;
  font-size: 2rem;
  color: white;
  margin-left: 0.5rem;
}

.menu a {
  width: 100%;
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.menu {
  width: 200px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
