<div class="container">
  <div class="site-title-container">
    <img src="../../../../../assets/img/task-icon.png" class="site-logo" />
    <div class="site-title">
      <span>Task</span>
      <span>maker</span>
    </div>
  </div>
  <nav class="menu">
    <ul>
      <li><a mat-stroked-button href="/task">Tasks</a></li>
      <li><a mat-stroked-button href="/project">Projects</a></li>
      <li><a mat-stroked-button href="/user">Users</a></li>
      <li><a mat-stroked-button href="/team">Teams</a></li>
    </ul>
  </nav>
</div>
