<div>
  <div class="view-page-title-container">
    <h1 class="view-page-title-text">Tasks</h1>
    <button mat-mini-fab color="primary" (click)="onCreate()">
      <mat-icon class="add-button-icon">add</mat-icon>
    </button>
  </div>
  <div *ngFor="let _task of tasks">
    <app-item
      [title]="_task.name"
      [id]="_task.id"
      [onDelete]="onDelete"
      [onChange]="onChange"
    >
      <div class="item-details-container">
        <div>
          <strong>Description: </strong> <span>{{ _task.description }}</span>
        </div>
        <div>
          <strong>Date of creating: </strong>
          <span>{{ _task.createdAt | localizedDate }} </span>
        </div>
        <div>
          <strong>Task state: </strong>
          <span appTaskState [status]="_task.state">{{ _task.state }}</span>
        </div>
        <div>
          <strong>Performer: </strong>
          <span>{{ getPerformerName(_task.performerId) }}</span>
        </div>
        <div>
          <strong>Project: </strong>
          <span>{{ getProjectName(_task.projectId) }}</span>
        </div>
      </div>
    </app-item>
  </div>
</div>
