<div>
  <h1 class="change-page-title">
    {{ isEditing ? "Edit task" : "Create Task" }}
  </h1>
  <mat-card class="change-card">
    <form
      (ngSubmit)="isEditing ? updateTask() : createTask()"
      [formGroup]="taskForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="task.name"
          id="name"
          formControlName="name"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            taskForm.get('name').touched &&
            taskForm.get('name').errors?.required
          "
        >
          Name is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="taskForm.get('name').errors?.minlength"
        >
          Name must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="task.description"
          id="description"
          formControlName="description"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            taskForm.get('description').touched &&
            taskForm.get('description').errors?.required
          "
        >
          Description is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="taskForm.get('description').errors?.minlength"
        >
          Description must be at least 4 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Performer</mat-label>
        <mat-select formControlName="performer" [(ngModel)]="task.performerId">
          <mat-option *ngFor="let _user of users" [value]="_user.id">
            {{ _user.firstName }} {{ _user.lastName }}
          </mat-option>
        </mat-select>
        <mat-error
          class="custom-error"
          *ngIf="
            taskForm.get('performer').touched &&
            taskForm.get('performer').errors?.required
          "
        >
          Performer is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <mat-select formControlName="project" [(ngModel)]="task.projectId">
          <mat-option *ngFor="let _project of projects" [value]="_project.id">
            {{ _project.name }}
          </mat-option>
        </mat-select>
        <mat-error
          class="custom-error"
          *ngIf="
            taskForm.get('project').touched &&
            taskForm.get('project').errors?.required
          "
        >
          Project is required
        </mat-error>
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-stroked-button color="warn" (click)="handleCancel()">Cancel</button>
        <button mat-stroked-button type="submit" [disabled]="!taskForm.valid">
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
