<div>
  <div class="view-page-title-container">
    <h1 class="view-page-title-text">Users</h1>
    <button
      mat-icon-button
      color="primary"
      (click)="onCreate()"
      class="add-button"
      mat-mini-fab
    >
      <mat-icon class="add-button-icon">add</mat-icon>
    </button>
  </div>
  <div *ngFor="let _user of users">
    <app-item
      [title]="_user.firstName + ' ' + _user.lastName"
      [id]="_user.id"
      [onDelete]="onDelete"
      [onChange]="onChange"
    >
      <div class="item-details-container">
        <div>{{ _user.birthday | localizedDate }}</div>
        <div>{{ _user.email }}</div>
      </div>
    </app-item>
  </div>
</div>
