<div>
  <h1 class="change-page-title">
    {{ isEditing ? "Edit project" : "Create project" }}
  </h1>
  <mat-card class="change-card">
    <form
      (ngSubmit)="isEditing ? updateProject() : createProject()"
      [formGroup]="projectForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="project.name"
          id="name"
          formControlName="name"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            projectForm.get('name').touched &&
            projectForm.get('name').errors?.required
          "
        >
          Name is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="projectForm.get('name').errors?.minlength"
        >
          Name must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="project.description"
          id="description"
          formControlName="description"
        />
        <mat-error
          class="custom-error"
          *ngIf="
            projectForm.get('description').touched &&
            projectForm.get('description').errors?.required
          "
        >
          Description is required
        </mat-error>
        <mat-error
          class="custom-error"
          *ngIf="projectForm.get('description').errors?.minlength"
        >
          Description must be at least 4 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <mat-select formControlName="author" [(ngModel)]="project.authorId">
          <mat-option *ngFor="let _user of users" [value]="_user.id">
            {{ _user.firstName }} {{ _user.lastName }}
          </mat-option>
        </mat-select>
        <mat-error
          class="custom-error"
          *ngIf="
            projectForm.get('author').touched &&
            projectForm.get('author').errors?.required
          "
        >
          Author is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Team</mat-label>
        <mat-select formControlName="team" [(ngModel)]="project.teamId">
          <mat-option *ngFor="let _team of teams" [value]="_team.id">
            {{ _team.name }}
          </mat-option>
        </mat-select>
        <mat-error
          class="custom-error"
          *ngIf="
            projectForm.get('team').touched &&
            projectForm.get('team').errors?.required
          "
        >
          Team is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a deadline</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="project.deadline"
          id="deadline"
          formControlName="deadline"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-stroked-button color="warn" (click)="handleCancel()">Cancel</button>
        <button
          mat-stroked-button
          type="submit"
          [disabled]="!projectForm.valid"
        >
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
