.red-icon {
  color: red;
}

.item {
  display: flex;
  flex-direction: column;
}

.item-card {
  margin-bottom: 2rem;
  width: 75%;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr;
  align-items: center;
}

::ng-deep .mat-card-header-text{
  display: none !important;
}

.card-title{
  font-size: 1.25rem;
  margin: 0 !important;
}