<mat-card class="item-card">
  <mat-card-header class="card-header">
    <button mat-icon-button color="primary" aria-label="Show details" (click)="toggleDetails()">
      <mat-icon *ngIf="!isItemExtended">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="isItemExtended">keyboard_arrow_up</mat-icon>
    </button>
    <h3 class="card-title">{{ title }}</h3>
    <button mat-icon-button color="primary" aria-label="Edit item" (click)="handleChange()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="red-icon" aria-label="Delete item" (click)="handleDelete()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content *ngIf="isItemExtended">
    <ng-content> </ng-content>
  </mat-card-content>
</mat-card>
